/__pycache__
/output
/output_1
/output_10
/output_11
/output_12
/output_13
/output_14
/output_15
/output_16
/output_17
/output_18
/output_19
/output_2
/output_20
/output_21
/output_22
/output_23
/output_24
/output_25
/output_26
/output_27
/output_28
/output_3
/output_4
/output_5
/output_6
/output_7
/output_8
/output_9